body{
    background-color:#57606f;
}
.color{
    color:#70a1ff;
}
.size{
    font-size: large;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ol{
    color: white;
}

a:visited{
    color: red;
}